.button-contador {

    border-radius: 5px;
    width: 100px;
    
}

.container-contador {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin: auto;

    border-radius: 20px;
    width: 100%;

}